
body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #110505;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aqua;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    width: 90%;
    height: 70px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #f0f0f0;
}
